:root {
  --helio-orange: hsl(23, 88.1%, 63.7%);
  --helio-lightblue: hsl(193, 65.9%, 75.9%);
}

#app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#navbar {
  height: 50px;
  background-color: var(--helio-orange);
  padding-left: 5px;
  padding-top: 2.5px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-around;
}

#navbar-logo {
  width: 119.7px;
  height: 45px;
}

#navbar-links-container {
  width: 40vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-content-container {
  background-color: var(--helio-lightblue);
  height: calc(100vh - 105px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

#products-menu-container {
  width: 27.5vw;
  height: calc(100vh - 165px);
  background-color: white;
  border: 1px solid black;
}

#products-cards-container {
  width: 62.5vw;
  height: calc(100vh - 165px);
  background-color: var(--helio-lightblue);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.product-card {
  background-color: var(--helio-orange);
  border: 1px solid black;
}

#footer {
  width: 100vw;
  height: 50px;
  background-color: var(--helio-orange);
  position: fixed;
  left: 0px;
  bottom: 0px;
  border-top: 1px solid black;
}
