#app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: red;
}

#navbar {
  height: 100px;
  background-color: yellow;
}

#footer {
  width: 100vw;
  height: 100px;
  background-color: green;
  position: fixed;
  left: 0px;
  bottom: 0px;
}
