.product-card {
   background-color: var(--helio-orange);
   border: 1px solid black;
   padding: 5px;
   font-size: 14px;
   border-radius: 10px;
   height: 25vh;
}

.product-card-image {
   height: 80%;
   background-color: white;
   border: 1px solid black;
   border-radius: 10px;
}
 
.product-card-title-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 4px;
   height: calc(20% - 5px);
   text-align: center;
}

.product-card-title-link {
   text-decoration: none;
   color: black;
}
