#product-page-main-container {
   padding-left: 5vw;
   padding-right: 5vw;
   height: calc(100vh - 104.1px);
   display: flex;
   justify-content: center;
   align-items: center;
}

#product-page-main-content {
   height: calc(100vh - 104.1px - 8vh);
   background-color: var(--helio-orange);
   border: 1px solid black;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   padding-left: 5vw;
   padding-right: 5vw;
   border-radius: 10px;
}

#product-page-product-image {
   height: calc(50vh - 50px - 4vh);
   width: 60vw;
   background-color: white;
   border: 1px solid black;
   border-radius: 10px;
}
