#product-page-main-container {
   padding-left: 5vw;
   padding-right: 5vw;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 40px;
   margin-bottom: 40px;
}

#product-page-main-content {
   width: 66vw;
   background-color: var(--helio-orange);
   border: 1px solid black;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   padding-left: 5vw;
   padding-right: 5vw;
   border-radius: 10px;
}

#product-page-product-title {
   width: 50vw;
   font-size: 1.5em;
   font-weight: 600;
}

#product-page-product-image {
   height: calc(50vh - 50px - 4vh);
   width: 60vw;
   background-color: white;
   border: 1px solid black;
   border-radius: 10px;
}

#product-page-product-info-container {
   display: flex;
}

#product-page-description-container {
   width: 25vw;
   padding-bottom: 5px;
}

.product-page-h2 {
   font-size: 1.25em;
   font-weight: 600;
}

#product-page-product-description {
   width: 23vw;
   margin-top: 0px;
}

#product-page-second-data-container {
   width: 25vw;
}
