:root {
  --helio-orange: hsl(23, 88.1%, 63.7%);
  --helio-lightblue: hsl(193, 65.9%, 75.9%);
}

#main-content-container {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

#products-menu-container {
  width: 27.5vw;
  height: calc(100vh - 165px);
  background-color: var(--helio-orange);
  border: 1px solid black;
  border-radius: 10px;
}

#products-cards-container {
  width: 62.5vw;
  height: calc(100vh - 165px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
