:root {
   --helio-orange: hsl(23, 88.1%, 63.7%);
   --helio-lightblue: hsl(193, 65.9%, 75.9%);
 }
 
 #app-container {
   position: relative;
   width: 100vw;
   height: 100vh;
 }
 
 #main-content-container {
   background-color: var(--helio-lightblue);
   height: calc(100vh - 105px);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 20px;
   padding-right: 20px;
 }
 
 #products-menu-container {
   width: 27.5vw;
   height: calc(100vh - 165px);
   background-color: var(--helio-orange);
   border: 1px solid black;
 }
 
 #products-cards-container {
   width: 62.5vw;
   height: calc(100vh - 165px);
   background-color: var(--helio-lightblue);
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   grid-column-gap: 10px;
   grid-row-gap: 10px;
 }
 
 .product-card {
   background-color: var(--helio-orange);
   border: 1px solid black;
   padding: 5px;
   font-size: 14px;
 }
 
 .product-card-image {
   height: 80%;
   background-color: white;
   border: 1px solid black;
 }
 
 .product-card-title-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 4px;
   height: calc(20% - 5px);
 }
 
 #footer {
   width: 100vw;
   height: 50px;
   background-color: var(--helio-orange);
   position: fixed;
   left: 0px;
   bottom: 0px;
   border-top: 1px solid black;
 }
 